# Database
DATABASE_URL="postgresql://username:password@localhost:5432/myauth"

# Server
PORT=3000
CLIENT_ORIGIN="http://localhost:5173"
BASE_URL="http://localhost:3000"

# RSA Keys (optional, if not using certs/ files)
# PRIVATE_KEY_BASE64="base64-encoded-private-key"
# PUBLIC_KEY_BASE64="base64-encoded-public-key"
# KEY_METADATA_BASE64="base64-encoded-json-metadata"

# Node Environment
NODE_ENV="development"